# 2023_02_10
<h1>인디언식 이름 짓기<h1>

변수 dict : year, month, day

In [84]:
year = {
   0: '시끄러운 또는 말 많은',
   1: '푸른',
   2: '어두운 -> 적색',
   3: '조용한',
   4: '웅크린',
   5: '백색',
   6: '지혜로운',
   7: '용감한',
   8: '날카로운',
   9: '욕심많은'
}

In [85]:
month = {
   1: '늑대', 2: '태양', 3: '양', 4: '매',
   5: '황소', 6: '불꽃', 7: '나무', 8: '달빛',
   9: '말', 10: '돼지', 11: '하늘', 12: '바람'
}

In [86]:
day = {
   1: '와(과) 함께 춤을', 2: '의 기상', 3: '은(는) 그림자속에',
   4: '', 5: '', 6: '',
   7: '의 환생', 8: '의 죽음', 9: '의 아래에서',
   10: '을(를) 보라', 11: '이(가) 노래하다', 12: '의 그늘 -> 그림자',
   13: '의 일격', 14: '에게 쫓기는 남자', 15: '의 행진',
   16: '의 왕', 17: '의 유령', 18: '을 죽인자',
   19: '은(는) 맨날 잠 잔다', 20: '처럼', 21: '의 고향',
   22: '의 전사', 23: '은(는) 나의 친구', 24: '의 노래',
   25: '의 정령', 26: '의 파수꾼', 27: '의 악마',
   28: '와(과) 같은 사나이', 29: '의 심판자 -> 을(를) 쓰러트린 자', 30: '의 혼',
   31: '은(는) 말이 없다',
}

1. for문을 통해 k값 비교하여 v return

In [87]:
def indian_naming_function(data, dictionary_type):
    invert_data_to_int = int(data)

    for k, v  in dictionary_type.items():
        if k == invert_data_to_int:
            return v

In [88]:
birthday = input("생년월일을 입력하세요, ####-##-## >> ")
y, m, d = birthday.split('-')
# print(y)
# print(b)
# print(d)

생년월일을 입력하세요, ####-##-## >> 1997-03-04

In [89]:
indianic_year_name = indian_naming_function(y[3], year)
indianic_month_name = indian_naming_function(m, month)
indianic_day_name = indian_naming_function(d, day)

In [90]:
print("생일: %s" % birthday)
print("인디안식 이름: %s %s%s" % (indianic_year_name, indianic_month_name, indianic_day_name))

생일: 1997-03-04
인디안식 이름: 용감한 양

2. dict.get('key')을 통해 value 추출

In [81]:
birthday = input("생년월일을 입력하세요, ####-##-## >> ")
y, m, d = birthday.split('-')

a = year.get(int(y[3]))
print("인디안식 이름 : %s %s%s" %
      (year.get(int(y[3])),
       month.get(int(m)),
       day.get(int(d))))

생년월일을 입력하세요, ####-##-## >> 1997-03-04
인디안식 이름 : 용감한 양

In [94]:
print("생일 : %s \n인디안식 이름 : %s %s%s" %
      (birthday, year.get(int(y[3])),
       month.get(int(m)),
       day.get(int(d))))

생일 : 1997-03-04
인디안식 이름 : 용감한 양

** find() 함수 정리 필요

In [ ]:
birthday = '1997-03-04'
a = birthday.find('-', 2)
print(a)