# 로또 번호 출력

In [61]:
import requests

res = requests.get('https://dhlottery.co.kr/gameResult.do?method=byWin')

# list, dictionary라는 가정 하에
result = res.text


sidx = result.find('<strong>1053회</strong>')
eidx = result.find('num bonus', sidx)

result2 = result[sidx:eidx]

print(result2)

<strong>1053회</strong> 당첨결과</h4>
					<p class="desc">(2023년 02월 04일 추첨)</p>
					<div class="nums">
						<div class="num win">
							<strong>당첨번호</strong>
							<p>
								<span class="ball_645 lrg ball3">22</span>
								<span class="ball_645 lrg ball3">26</span>
								<span class="ball_645 lrg ball3">29</span>
								<span class="ball_645 lrg ball3">30</span>
								<span class="ball_645 lrg ball4">34</span>
								<span class="ball_645 lrg ball5">45</span>
							</p>
						</div>
						<div class="

In [63]:
# 구분 시작

print("[%s차] 로또 당첨 번호는 " % result2[8:13], end = ': ')

num_2 = 0

while True:
    num_1 = result2.find('</span', num_2)
    num_2 = result2.find('</span', num_1 + 1)
    print( result2[num_1 - 2:num_1], end = ' ')

    if num_2 == -1: break

1053회차 로또 당첨 번호는 : 22 26 29 30 34 45

# find()함수 사용방법

In [59]:
sidx = result2.find('ball_645')
# <span class="ball_645 lrg ball3">22</span>
#								<span class="
# 덮어써서 > 번호 찾기
sidx = result2.find('>', sidx)
# >22</span>
#								<span class="
# 덮어써서 > 번호 찾기

eidx = result2.find('<', sidx)
# >22<

result2[sidx+1 : eidx]

'22'